{% extends 'base.html' %}

{% block title %}
{{ block.super }} - Types
{% endblock %}

{% block content %}
<div class="container">
  <p class="lead">
    Hungry, stressed, and pressed for time--we've all been there. 
    And in those dire moments, wouldn't it be nice if you knew your 
    meal was right around the corner?
  </p>
  <p class="lead">
    Enter <strong>The Truck Hunt</strong>: a real-time food truck 
    locator that shows you who's driving your way with lip-smacking 
    meals. We make sure that you've got your options laid out for 
    you at a glance, so you can track down your movable feast whenever 
    hunger strikes!
  </p>
  <p class="lead">
    Happy hunting!
  </p>
  <p>
  Contact us at <a href="mailto:info@thetruckhunt.com">info@thetruckhunt.com</a>
  </p>
</div> <!-- container -->
{% endblock %}
