<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <title>{% block title %}TruckHunt{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" 
	  rel="stylesheet" media="screen">
    <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" 
	  rel="stylesheet">

    {% block head_scripts %}
    {% endblock %}

  </head>

  <body>

<!-- NAVBAR
    ================================================== -->
        <div class="navbar">
          <div class="navbar-inner">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">TruckHunt</a>
            <div class="nav-collapse collapse">

             <ul class="nav">
               <li><a href="/trucks/">Trucks</a></li>
               <li><a href="/featured/">Featured</a></li>
               <li><a href="/about/">About</a></li>
               <li><a href="/map_test/">Map Test</a></li>
             </ul>

             {% if request.user.is_authenticated %}
             <ul class="nav pull-right">
               <li class="navbar-text">
		 Signed in as {{ request.user.first_name }}
		 {{ request.user.last_name}}
               </li>
               <li class="divider-vertical"></li>
               <li>
		 <form id="signout" class="navbar-form"
                       method="post" action="/logout/"> {% csrf_token %}
		   <button type="submit" class="btn">Logout</button>
		 </form>
               </li>
             </ul>

             {% else %}
             <form id="signin" class="navbar-form pull-right"
                   method="post" action="/login/"> {% csrf_token %}
               <input type="text" class="span2" placeholder="Email"
                      name="identification" id="id_identification">
               <input type="password" class="span2" placeholder="Password"
                      name="password" id="id_password">
               <button type="submit" name="logingin" class="btn">
		 Login
	       </button>
             </form>
             {% endif %}

            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

    {% block content %}
    <h1>TruckHunt</h1>

    <p>This is the template page!</p>
    {% endblock %}

    {% block body_scripts %}
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    {% endblock %}

  </body>

</html>
