{% extends 'base.html' %}

{% block title %}
{{ block.super }} - Featured
{% endblock %}

{% block content %}
  <div class="span3">
    <h2>Feature</h2>
    <hr>
    <h2>Like No Udder</h2>
    <img src="/static/images/like_no_udder.jpeg" alt="Like No Udder pic">
  </div> <!-- span3 -->
  <div class="span9">
    <p>
      Like No Udder is not only about making history (we're the world's first 
      all vegan soft serve ice cream truck). We're also about serving delicious 
      products that just happen to be free of all animal products. This 
      includes dairy, eggs, animal fats and honey. Our mission is to bring 
      smiles to peoples' faces and serve the best possible dairy-free treats 
      available. Years of research have culminated into this dream and we hope
      you have a chance to share in the joy that is vegan soft serve.
    </p>
    <p>
      My first vegan business, The Screaming Vegan, was a wholesale baking 
      business where I diligently made cupcakes, cakes, cookies and brownies. 
      While I loved providing a product for my loyal customers, baker's hours 
      were not my cup of tea. So I left that world behind, but not without 
      taking valuable business lessons and food passions along with me.
    </p>
    <p>
      In addition to non-dairy ice cream products, Like No Udder currently 
      serves candy bars and meatless jerky, and during day long festivals may
      offer savory items like vegan meatball subs and vegan hot dogs. And who 
      knows what might get added to the menu next. Stay tuned to find out when
      we might be in your neighborhood next and come share a guilt free treat. 
      I thank you and the cows thank you!
    </p>
    <p>
      ~Karen Krinsky, Owner of <strong>Like No Udder</strong>
    </p>
  </div> <!-- span9 -->

{% endblock %}
