{% extends 'base.html' %}

{% block content %}
<div class="span9" id="map-canvas" ></div>
  <div class="span3"> 
    <H1>Side Pane</H1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in dapibus magna, eget vulputate ante. Cras mauris orci, consectetur ac enim ac, vehicula egestas erat. Vivamus ac nisi vitae neque semper sollicitudin. Cras nunc erat, rhoncus vel felis id, rhoncus commodo erat. Fusce imperdiet condimentum risus ac pulvinar. Aenean consectetur sapien at consectetur tincidunt. Suspendisse et nunc erat. Vivamus eget dictum nulla, non porttitor erat. Pellentesque sed consectetur dui. Donec vitae adipiscing elit. Phasellus et scelerisque mauris, vel ornare augue. Proin a accumsan sapien. Ut nec diam convallis, porta dolor sed, semper libero.
    </p>
</div>

{% endblock %}

{% block head_scripts %}

{{ block.super }}

<style>
  html, body, #map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
  top: -20px;
  }

  #mapCanvas img { 
  max-width: none;
  }

  #mapCanvas label { 
  width: auto; display:inline; 
  } 

</style>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true">
</script>
<script>

  var map;

  function initialize() {
    var mapOptions = {
      zoom: 15,
      center: new google.maps.LatLng(41.824, -71.413),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
  
    map = new google.maps.Map(document.getElementById('map-canvas'),
                                  mapOptions);
  
    // Try HTML5 geolocation
    if(navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = new google.maps.LatLng(position.coords.latitude,
                                         position.coords.longitude);

        var infowindow = new google.maps.InfoWindow({
          map: map,
          position: pos,
          content: 'Location found using HTML5.'
        });

        map.setCenter(pos);
      }, function() {
        handleNoGeolocation(true);
      });
    } else {
      // Browser doesn't support Geolocation
      handleNoGeolocation(false);
    }

    setMarkers(map, foodtrucks);
  }

  /**
   * Data for the markers consisting of a name, a LatLng and a zIndex for
   * the order in which these markers should display on top of each
   * other.
   */
  var foodtrucks = [
    ['Truck A', 41.830, -71.420, 3],
    ['Truck B', 41.825, -71.400, 2],
    ['Truck C', 41.824, -71.413, 1]
  ];

  function handleNoGeolocation(errorFlag) {
    if (errorFlag) {
      var content = 'Error: The Geolocation service failed.';
    } else {
      var content = 'Error: Your browser doesn\'t support geolocation.';
    }
    var options = {
      map: map,
      position: new google.maps.LatLng(41.824, -71.413),
      content: content
     };

    var infowindow = new google.maps.InfoWindow(options);
    <!--map.setCenter(options.position);-->
  }

  function setMarkers(map, locations) {
    // Add markers to the map

    // Marker sizes are expressed as a Size of X,Y
    // where the origin of the image (0,0) is located
    // in the top left of the image.

    // Origins, anchor positions and coordinates of the marker
    // increase in the X direction to the right and in
    // the Y direction down.

    var image = {
      url: '/static/images/truckhunt_label_small.png',
      // This marker is 55 pixels wide by 45 pixels tall.
      size: new google.maps.Size(55, 45),
      // The origin for this image is 0,0.
      origin: new google.maps.Point(0,0),
      // The anchor for this image is the point at 22, 44.
      anchor: new google.maps.Point(22, 44)
    };

    // Shapes define the clickable region of the icon.
    // The type defines an HTML &lt;area&gt; element 'poly' which
    // traces out a polygon as a series of X,Y points. The final
    // coordinate closes the poly by connecting to the first
    // coordinate.
    var shape = {
        coord: [1, 1, 1, 44, 54, 44, 54, 1],
        type: 'poly'
    };
    for (var i = 0; i < locations.length; i++) {
      var foodtruck = locations[i];
      var myLatLng = new google.maps.LatLng(foodtruck[1], foodtruck[2]);
      var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: image,
          shape: shape,
          title: foodtruck[0],
          zIndex: foodtruck[3]
      });
    }
  }

  google.maps.event.addDomListener(window, 'load', initialize);

</script>

{% endblock %}
